S3method(print,angoff)
S3method(print,feldt)
S3method(print,kristof)
S3method(print,lambda1)
S3method(print,lambda2)
S3method(print,lambda5)
S3method(print,lambda6)
S3method(print,omega.tot)
S3method(print,raju)
export(angoff)
export(bin.combs)
export(cov.lambda4)
export(feldt)
export(impute.cov)
export(kristof)
export(lambda1)
export(lambda2)
export(lambda3)
export(lambda5)
export(lambda6)
export(lambdas)
export(omega.tot)
export(quant.lambda4)
export(raju)
export(user.lambda4)
